* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: whitesmoke;
}
/*top section*/
.topsec {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    margin-left: 0;
}
.logo {
    flex: 1;
    margin-left: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    color: #00FF02;

}
.navbar {
    flex: 2;
    letter-spacing: 6px;
    margin-top: 6px;
    font-family:'Roboto Mono', monospace;
    width: 100%;

}
a:hover {
    border-bottom: 5px double #00FF02;
    transition:  0.5s;
    color: #00FF02;
    border-left: 5px solid #00FF02;
    border-right: 5px solid #00FF02;
    cursor: pointer;
}
.articles , .social , .about {
    color: white;
    margin-left: 35px;
    font-weight: bold;
    font-size: 20px;
}
.quotes {
    letter-spacing: 5px;
    font-size: 33px;
    margin-top: 11%;
    text-align: center;
    font-family: 'Roboto mono' , monospace;
    font-weight: bold;
}
#hack {
    background-color: #00FF02;
    color: black;
}
.para {
    font-family: 'Roboto mono' , monospace;
    margin-top: 10%;
}
.headsec {
    text-align: center;
}
.intro {
    margin-top: 200px;
}
.hello {
    font-family: 'Koulen', cursive;   
    font-size: 50px;
    width: 100%;
    border-top: #00FF02 double 8px;
    border-left: #00FF02 solid 10px;

}
.me {
    font-family: 'Flamenco', cursive;
    font-weight: bold;
    font-size: 50px;
    border-bottom: #00FF02 double 8px;
    border-right: #00FF02 solid 8px;
}
.rahul {
    background-color: #00FF02;
    font-size: 60px;
    color: black;

}
#social {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Roboto mono' , monospace;
    font-weight: bold
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fa-instagram {
    background: #f10e6d;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }  
  .fa-github {
    background: rgb(8, 12, 54);
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .backvid {
width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }
  @media ( min-aspect-ratio: 16/19) {
    .backvid {
        width: 100%;
        height: auto;
    }
  }
  .footer {
    font-family: 'Flamenco', cursive;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
.heart {
    color: #bb0000;
}